@font-face {
  font-family: "titleFont";
  src: url("./fonts/PermanentMarker-Regular.ttf");
}

$color-C: #0073db;
$color-F: #fff100;
$toggle-outline: rgb(26, 26, 26);
$title-color: #feb101;
$form-area-color: #feb101;
$button-color: #e3caa5;
$button-color-hover: #fffbe9;
$display-msg-transition: 700ms;

* {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $button-color-hover;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.title {
  font-family: "titleFont";
  background-color: $title-color;
  padding: 0.5em;
  &__letter {
  }
  &__word {
    margin-left: -0.6em;
    font-size: 0.5em;
  }
}

.form-container {
  padding: 0.77em;
  background-color: $form-area-color;
}

.form {
  justify-content: space-between;
  &__input-box {
    width: 12.5em;
    border-radius: 5px;
    text-align: center;
  }
  &__submit {
    background-color: $button-color;
    border-radius: 6px;
    margin-top: 0.4em;
    padding: 0 0.3em;
    align-self: flex-start;
    &:hover {
      background-color: $button-color-hover;
    }
  }
}

.search-bar {
  background-color: whitesmoke;
  padding: 0.3em;
  width: 20em;
  border: solid 1px black;
  border-radius: 50px;
  &__submit-button {
    border: none;
    background: none;
    &:focus,
    &:hover {
      outline: none;
      transition: 300ms;
      transform: scale(1.2);
    }
  }
  &__input-box {
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
  }
}

.status-message {
  transform: scale(0.75);
  transition: $display-msg-transition;
  height: 1em;
  margin-top: 0.4em;
  white-space: nowrap;
  &--error {
    color: $color-F;
  }
  &--visible {
    transform: scale(1);
    transition: $display-msg-transition;
  }
}

.unit-toggle {
  align-items: center;
  &__letter {
    margin: 0 0.38em;
    &--C {
      color: $color-C;
    }
    &--F {
      color: $color-F;
    }
  }
  &__background {
    align-items: center;
    justify-content: center;
    background-color: $color-F;
    border-radius: 25px;
    width: 2.1rem;
    border: solid $toggle-outline 1px;
    transition: 300ms;
    &--C {
      transition: 300ms;
      background-color: $color-C;
    }
  }
  &__button {
    position: relative;
    left: -20%;
    padding: 7px;
    background-color: $toggle-outline;
    border-radius: 50%;
    transition: 300ms;
    &--C {
      transition: 300ms;
      left: 20%;
    }
  }
}

.display-container {
  padding: 1em;
  min-width: 80%;
  width: 50%;
  border-radius: 1em;
  margin-top: 2.5em;
  align-self: center;
  color: #fafafa;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  &__location {
    font-weight: 600;
    text-align: center;
  }
  &__condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
  }
}

.temperature {
  &__label {
    margin-top: 0.2em;
    font-weight: 600;
    position: relative;
  }
  &__data {
    position: absolute;
    margin-left: 0.5em;
    font-weight: normal;
    transition: $display-msg-transition;
  }
  &--hidden {
    transition: $display-msg-transition;
    opacity: 0;
    transform: scale(0);
  }
}

.day {
  background: url("./img/day.jpg");
  background-position: center;
  background-size: cover;
}

.night {
  background: url("./img/night.jpg");
  background-position: center;
  background-size: cover;
}
