$color-C: rgb(38, 103, 124);
$color-F: rgb(219, 85, 85);
$toggle-outline: rgb(26, 26, 26);
$title-color: white;
$form-area-color: burlywood;
$display-msg-transition: 700ms;

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.title {
  background-color: $title-color;
  text-align: center;
  padding: 0.75em;
}

.form-container {
  padding: 0.77em;
  background-color: $form-area-color;
}

.form {
  display: flex;
  justify-content: space-between;
  &__input-box {
    width: 12.5em;
    border-radius: 5px;
    text-align: center;
  }
  &__submit {
    background-color: $form-area-color;
    border-radius: 6px;
    margin-top: 0.4em;
    padding: 0 0.3em;
    align-self: flex-start;
  }
}

.status-message {
  transform: scale(0.75);
  transition: $display-msg-transition;
  height: 1em;
  margin-top: 0.4em;
  white-space: nowrap;
  &--error {
    color: $color-F;
  }
  &--visible {
    transform: scale(1);
    transition: $display-msg-transition;
  }
}

.unit-toggle {
  display: flex;
  align-items: center;
  &__letter {
    margin: 0 0.38em;
    &--C {
      color: $color-C;
    }
    &--F {
      color: $color-F;
    }
  }
  &__background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-F;
    border-radius: 25px;
    width: 2.1rem;
    border: solid $toggle-outline 1px;
    transition: 300ms;
    &--C {
      transition: 300ms;
      background-color: $color-C;
    }
  }
  &__button {
    position: relative;
    left: -20%;
    padding: 7px;
    background-color: $toggle-outline;
    border-radius: 50%;
    transition: 300ms;
    &--C {
      transition: 300ms;
      left: 20%;
    }
  }
}
