$color-C: #0073db;
$color-F: rgb(219, 85, 85);
$toggle-outline: rgb(26, 26, 26);
$title-color: white;
$form-area-color: burlywood;
$display-msg-transition: 700ms;

* {
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.title {
  background-color: $title-color;
  text-align: center;
  padding: 0.5em;
}

.form-container {
  padding: 0.77em;
  background-color: $form-area-color;
}

.form {
  justify-content: space-between;
  &__input-box {
    width: 12.5em;
    border-radius: 5px;
    text-align: center;
  }
  &__submit {
    background-color: $form-area-color;
    border-radius: 6px;
    margin-top: 0.4em;
    padding: 0 0.3em;
    align-self: flex-start;
  }
}

.status-message {
  transform: scale(0.75);
  transition: $display-msg-transition;
  height: 1em;
  margin-top: 0.4em;
  white-space: nowrap;
  &--error {
    color: $color-F;
  }
  &--visible {
    transform: scale(1);
    transition: $display-msg-transition;
  }
}

.unit-toggle {
  align-items: center;
  &__letter {
    margin: 0 0.38em;
    &--C {
      color: $color-C;
    }
    &--F {
      color: $color-F;
    }
  }
  &__background {
    align-items: center;
    justify-content: center;
    background-color: $color-F;
    border-radius: 25px;
    width: 2.1rem;
    border: solid $toggle-outline 1px;
    transition: 300ms;
    &--C {
      transition: 300ms;
      background-color: $color-C;
    }
  }
  &__button {
    position: relative;
    left: -20%;
    padding: 7px;
    background-color: $toggle-outline;
    border-radius: 50%;
    transition: 300ms;
    &--C {
      transition: 300ms;
      left: 20%;
    }
  }
}

.display-container {
  padding: 1em;
  min-width: 80%;
  width: 50%;
  border-radius: 1em;
  margin-top: 2.5em;
  align-self: center;
  color: #fafafa;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  &__location {
    font-weight: 600;
    text-align: center;
  }
  &__condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
  }
}

.temperature {
  &__label {
    margin-top: 0.2em;
    font-weight: 600;
    position: relative;
  }
  &__data {
    position: absolute;
    margin-left: 0.5em;
    font-weight: normal;
    transition: $display-msg-transition;
  }
  &--hidden {
    transition: $display-msg-transition;
    opacity: 0;
    transform: scale(0);
  }
}

.day {
  background: url("./img/day.jpg");
  background-position: center;
  background-size: cover;
}

.night {
  background: url("./img/night.jpg");
  background-position: center;
  background-size: cover;
}
